.navbar__menu {
	list-style: none;
	padding: 0; /* Remove default margin */
}

/* .layout{
	display: flex;
}

.navbar{
	width: fit-content;
} */

.page-content{
	padding-top: 1rem;
	padding-bottom: 1rem;
    padding-left: 6.5rem;
}

.title-section img {
	width: 50px;
	height: auto;
}
  
.title{
	text-align: center;
}

.white-icon {
	color: white;
}

.fade-in {
	opacity: 0;
	animation: fadeIn 0.5s ease forwards;
}
.animate__fadeIn {
	animation: fadeIn 0.5s;
}
.animate__fadeOut {
	animation: fadeOut 0.5s;
}
.btn-close:focus {
	box-shadow: none !important;
	outline: none !important;
}
.modal-header {
	justify-content: space-between !important;
}
.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.5);
	backdrop-filter: blur(2px);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1050;
}

.modal-container {
	background: white;
	padding: 20px;
	border-radius: 12px;
	width: 500px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

@keyframes blinkRed {
    0%, 100% {
        border-color: #198754;
        box-shadow: 0 0 5px #198754;
    }
    50% {
        border-color: #fff;
        box-shadow: 0 0 5px transparent;
    }
}

.blink-red {
    animation: blinkRed 1s ease-in-out 3; /* Nháy 4 lần (2 giây) */
}


.slide-down-enter-active,
.slide-down-leave-active {
  transition: all 0.3s ease;
}

.slide-down-enter-from,
.slide-down-leave-to {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transform: translateY(-10px);
}

.slide-down-enter-to,
.slide-down-leave-from {
  max-height: 200px; /* Hoặc auto với JS trick nếu muốn mượt hơn */
  opacity: 1;
  transform: translateY(0);
}
/* .sub-title{
	margin-bottom: 0px;
} */
.log-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 10px; */
}

/* Hiệu ứng mượt khi thêm/bớt item */
.list-fade-enter-active, .list-fade-leave-active {
	transition: all 0.3s ease;
  }
  .list-fade-enter-from {
	opacity: 0;
	transform: translateY(-8px) scale(0.97);
  }
  .list-fade-enter-to {
	opacity: 1;
	transform: translateY(0) scale(1);
  }
  .list-fade-leave-from {
	opacity: 1;
	transform: scale(1);
  }
  .list-fade-leave-to {
	opacity: 0;
	transform: scale(0.95);
  }
  
  .reload-btn {
    background: transparent; /* Không có nền */
    color: white; /* Icon màu trắng */
    border: none; /* Không có viền */
    font-size: 18px; /* Tăng kích thước icon */
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    padding: 5px; /* Tạo khoảng cách click dễ hơn */
}

.reload-btn:hover {
    transform: rotate(90deg); /* Xoay nhẹ khi hover */
}

.clickable-row{
	cursor: pointer;
}