.navbar__menu {
	list-style: none;
	padding: 0; /* Remove default margin */
}

/* .layout{
	display: flex;
}

.navbar{
	width: fit-content;
} */

.page-content{
	padding-top: 1rem;
	padding-bottom: 1rem;
    padding-left: 6.5rem;
}

.title-section img {
	width: 50px;
	height: auto;
}
  
.title{
	text-align: center;
}